body {
    background-color:#949494;
    font-family: 'Courier New', Courier, monospace;
    display:grid;
    color:	#515654;
}

div {
    background-color:#eeeeee;
    padding:10px;
    text-align: center;
    margin:10px;
    border:2px solid #515654;
}

ul {
    text-align: left;
    text-transform: uppercase;
}

code {
    font-style: italic;
}